Package: com.domiosdev.flatastic
Name: Flatastic
Depends: winterboard
Version: 0.0.1-5
Architecture: iphoneos-arm
Description: A new approach to a flat Homescreen.
Maintainer: domiosdev <dominic.wenger@gmail.com>
Author: domiosdev <dominic.wenger@gmail.com>
Section: Themes (SpringBoard)
